@model IEnumerable<UserOrderViewModel>
@{
    Layout = "_UserProfileLayout";
    ViewData["Title"] = "Заказы";
}

<table class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
    @{ var i = 1; }
    @foreach (var (_, name, phone, address, total_sum) in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>@name</td>
            <td>@address</td>
            <td>@phone</td>
            <td>@total_sum</td>
        </tr>
    }
    </tbody>
</table>

