@using WebStore.Domain.Entities.Identity
@model Employee

<div class="container">
    <h3>Сотрудник</h3>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Фамилия</dt>
        <dd>@Model.LastName</dd>

        <dt>Имя</dt>
        <dd>@Model.FirstName</dd>

        <dt>Отчество</dt>
        <dd>@Model.Patronymic</dd>

        <dt>Возраст</dt>
        <dd>@Model.Age</dd>
    </dl>
    
    <hr/>
    
    @if (User.IsInRole(Role.Administrator))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">
            <i class="fa fa-edit"></i> Редактировать
        </a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
            <i class="fa fa-trash-o"></i> Удалить
        </a>
    }
    <a asp-action="Index" class="btn btn-default">К списку</a>
</div>