@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar"/>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="~/images/product-details/1.jpg" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href=""><img src="~/images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/images/product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href=""><img src="~/images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/images/product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href=""><img src="~/images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/images/product-details/similar3.jpg" alt=""></a>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="~/images/shop/@Model.ImageUrl" class="newarrival" alt="" />
                            <h2>@Model.Name</h2>
                            <p>Web ID: @Model.Id.ToString("00000000")</p>
                            <img src="~/images/product-details/rating.png" alt="" />
                            <span>
                                <span>@Model.Price.ToString("C")</span>
                                <label>Количество:</label>
                                <input type="text" value="3" />
                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" 
                                   class="btn btn-default cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    В корзину
                                </a>
                            </span>
                            <p><b>Доступность:</b> На складе</p>
                            <p><b>Состояние:</b> Новое</p>
                            <p><b>Бренд:</b> @Model.Brand</p>
                            <a href="">
                                <img src="~/images/product-details/share.png" class="share img-responsive" alt=""/>
                            </a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <partial name="Partial/_CategoryTab"/>

                <partial name="Partial/_RecomendedItems"/>
            </div>
        </div>
    </div>
</section>